<div class="buttons">
    <input type="button" ng-click="titlesCtrl.goToSearchPage();" value="Search again">
</div>

<div ng-if="!titlesCtrl.isMovieFound">
    <h1 ng-if="titlesCtrl.titlesNumber != 0"><span>Available titles: {{ titlesCtrl.titlesNumber }}</span></h1>
    <h1><span>{{ titlesCtrl.message }}</span></h1>

    <div class="titlesContainer">
        <div class="titleBox"><span ng-repeat="(uriTitle, value) in titlesCtrl.titlesArray" ng-click="titlesCtrl.displayMovieInfo(uriTitle);">
            {{ value.name }}
        </span></div>
    </div>
</div>
