<div class="buttons">
    <input type="button" ng-click="info.goToSearchPage()" value="Search again">
</div>
<h1>
    {{info.movieTitle}}
    {{info.array}}
</h1>
<table ng-if="info.triples != []">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    <tr ng-repeat="(property, dictionary) in info.triples">
        <td >{{ property }}</td>
        <td>
            <div ng-repeat="(key, value) in dictionary">
                <p>{{ key.label }} : {{ value }}</p>
                <!-- <a target="_self" ng-href={{ key }}>{{ value }}</a> -->
            </div>
        </td>
    </tr>
</table>
<div class="buttons">
    <input type="button" ng-click="showRecommendation = !showRecommendation" value="Recommendation">
</div>

<!-- <title-recommendation ng-if="showRecommendation" display-titles="info.displayRecommendation" ng-show="showRecommendation"></title-recommendation> -->

<title-recommendation ng-if="showRecommendation" movie-uri="info.movieUri" display-titles="info.triples" ng-show="showRecommendation"></title-recommendation>
