<div class="buttons">
    <input type="button" ng-click="triplesCtrl.goToSearchPage()" value="Search again">
</div>

<h1>{{ triplesCtrl.propertyUri }} </h1>
<h1 ng-if="triplesCtrl.isNodeLiteral"><b>(Literal)</b></h1>
<h2 ng-if="!triplesCtrl.isNodeLiteral">{{ triplesCtrl.triplesNumber }} triples found.</h2>

<table ng-if="triplesCtrl.triplesNumber != 0">
    <tr>
        <th>Subject</th>
        <th>Predicate</th>
        <th>Object</th>
    </tr>
    <tr ng-repeat="triple in triplesCtrl.triples track by $index">
        <td ng-click=triplesCtrl.showResourceInfo(triple.subject);>{{ triple.subject }}</td>
        <td ng-click=triplesCtrl.showPerson(triple.predicate,triple.object);>{{ triple.predicate }}</td>
        <td ng-click=triplesCtrl.showResourceInfo(triple.object);>{{ triple.object }}</td>
    </tr>
</table>
